/* Crystal Slider */

$padding: 16px;
$main-color: #fa5505;
$second-color: #fff;

/* Required styles */

.crystal-slider {
  box-sizing: border-box;
  position: relative;

  &__slides-container {
    overflow: hidden;
    position: relative;
  }

  &__track {
    margin: 0;
    padding: 0;
  }

  &__slide {
    float: left;
    position: relative;
  }

  &.is-draggable {
    .crystal-slider__track {
      cursor: grab;
    }
  }

  &.is-touch {
    .crystal-slider__track {
      cursor: grabbing;
    }
  }
}

.crystal-slider-nav {
  &__btn {
    background: none;
    cursor: pointer;
    user-select: none;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.crystal-slider-pagination {
  user-select: none;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Basic theme */

.crystal-slider {
  &__title {
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    color: $second-color;
    font-weight: 700;
    left: 0;
    padding: ($padding / 2) ($padding * 2);
    position: absolute;
    right: 0;
  }
}

.crystal-slider-nav {
  &__btn {
    background: none;
    border: solid currentColor;
    border-width: 0 2px 2px 0;
    color: $main-color;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    padding: 2px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 98;

    &:focus,
    &:active {
      outline: none;
    }

    &_prev {
      left: $padding * 2;
      transform: translateY(-50%) rotate(135deg);
    }

    &_next {
      transform: translateY(-50%) rotate(-45deg);
      right: $padding * 2;
    }

    &.is-disabled {
      display: none;
    }
  }
}

.crystal-slider-pagination {
  &__inner {
    margin: (-$padding) 0 0 (-$padding);
    list-style: none;
    padding: 0;
  }

  &__item {
    margin: $padding 0 0 $padding;
    position: relative;
    height: 10px;
    width: 10px;
  }

  &__btn {
    background: $main-color;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }

    &.is-active {
      &:after {
        background: $second-color;
        border-radius: 50%;
        content: '';
        height: 4px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
      }
    }
  }
}

/* /Crystal Slider */
