/* Required CrystalSlider styles */

.crystal-slider {
  box-sizing: border-box;
  position: relative;

  &__slides-container {
    overflow: hidden;
    position: relative;
  }

  &__track {
    margin: 0;
    padding: 0;
    display: flex;

    &.is-draggable {
      cursor: grab;
    }

    &.is-touch {
      cursor: grabbing;
    }
  }

  &__slide {
    position: relative;
  }
}

.crystal-slider-nav {
  &__btn {
    background: none;
    cursor: pointer;
    user-select: none;
  }
}

.crystal-slider-pagination {
  user-select: none;
}

/* Basic theme */

.crystal-slider {
  padding-bottom: 32px;
}

.crystal-slider-nav {
  &__btn {
    background: none;
    border-width: 0 2px 2px 0;
    border: solid currentColor;
    color: #fa5505;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 20px;
    margin-top: -10px;
    padding: 2px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 98;

    &:focus,
    &:active {
      outline: none;
    }

    &_prev {
      border-width: 0 2px 2px 0;
      left: 32px;
      transform: rotate(135deg);
    }

    &_next {
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
      right: 32px;
    }

    &.is-disabled {
      display: none;
    }
  }
}

.crystal-slider-pagination {
  bottom: 0;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 99;

  &__inner {
    list-style: none;
    margin: 0 0 0 -16px;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0 0 0 16px;
    position: relative;
    height: 10px;
    width: 10px;
  }

  &__btn {
    background: #fa5505;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }

    &.is-active {
      &:after {
        background: #fff;
        border-radius: 50%;
        content: '';
        height: 4px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
      }
    }
  }
}
